**/__pycache__
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/tests
**/.vscode
README.md
# My Additions
**/.pytest_cache
**/.mypy_cache
kubernetes
repos
tars
example.http
poetry.lock
pyproject.toml
**/test_nfs
